{% extends 'base.html.twig' %}

{% block pageTitle %}List of students{% endblock %}

{% block body %}

    <ul>
        {% for student in students %}
            <li>
                id = {{ student.id }}
                <br>
                name = {{ student.name }}
            </li>
        {% endfor %}
    </ul>

    {{ dump() }}

{% endblock %}